* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_327 {
  width: 440px;
  height: 844px;
  background: rgba(247,249,252,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_328 {
  width: 440px;
  height: 251px;
  background: url("../images/v1_328.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_329 {
  width: 440px;
  height: 115px;
  background: rgba(247,249,252,1);
  padding: 16px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_330 {
  width: 408px;
  height: 48px;
  background: url("../images/v1_330.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v1_331 {
  width: 48px;
  height: 48px;
  background: url("../images/v1_331.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_332 {
  width: 24px;
  height: 24px;
  background: url("../images/v1_332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  overflow: hidden;
}
.v1_333 {
  width: 24px;
  height: 24px;
  background: rgba(12,20,28,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_334 {
  width: 18px;
  height: 15px;
  background: url("../images/v1_334.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 450px;
  left: 1032px;
  overflow: hidden;
}
.v1_335 {
  width: 408px;
  height: 35px;
  background: url("../images/v1_335.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 16px;
  overflow: hidden;
}
.v1_336 {
  width: 408px;
  color: rgba(12,20,28,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Plus Jakarta Sans;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v1_337 {
  width: 440px;
  height: 64px;
  background: url("../images/v1_337.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 16px;
  opacity: 1;
  position: absolute;
  top: 115px;
  left: 0px;
  overflow: hidden;
}
.v1_338 {
  width: 408px;
  color: rgba(12,20,28,1);
  position: absolute;
  top: 4px;
  left: 16px;
  font-family: Plus Jakarta Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_369 {
  width: 440px;
  height: 72px;
  background: rgba(247,249,252,1);
  padding: 8px 16px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 0px;
  overflow: hidden;
}
.v1_379 {
  width: 440px;
  height: 20px;
  background: url("../images/v1_379.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 824px;
  left: 0px;
  overflow: hidden;
}
.v1_384 {
  width: 440px;
  height: 20px;
  background: rgba(247,249,252,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
